{% extends 'base.html' %}

{% load custom_filters %}

{% block header %}<h1>Мои стишки</h1>{% endblock %}

{% block content %}
    {% if item_list %}
        <div class="accordion accordion-flush" id="accordionFlushExample">
        {% for item in item_list %}
            
            <div class="accordion-item position-relative">
                <h3 class="accordion-header name">
                    <a href="#{{ item.id }}" 
                       class="accordion-button collapsed" 
                       data-bs-toggle="collapse" 
                       data-bs-target="#collapse{{ item.id }}" 
                       aria-expanded="false" 
                       aria-controls="collapse{{ item.id }}"
                       role="button">{{ item.name }}
                    </a>
                </h3>
            
                <div class="accordion-collapse collapse" 
                     id="collapse{{ item.id }}" 
                     data-bs-parent="#accordionFlushExample"
                >
                    <div class="accordion-body">
                        <div class="row h-100">
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-4">
                                {% if item.image.image.url %}
                                    <img class="img-fluid" src="{{ item.image.image.url }}" alt="Фото">
                                {% else %}
                                    <p class="d-flex justify-content-center align-items-center h-100">Фото отсутствует</p>
                                {% endif %}
                            </div>
                            <div class="offset-1 col d-flex flex-column">
                                <div class="flex-grow-1 fs-3" style="font-family: 'Actay-Reg', serif">
                                    {{ item.content|safe }}<br>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="date-published text-end">Дата публикации: {{ item.date_published }}</span>
                                    
{#                                    {% include 'likes/likes.html' with liked=liked|get:item.id item=item item_type=item_type like_count=like_count|get:item.id %}#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                {% if item.is_recent %}
                    <span class="position-absolute z-1 top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" style="width: 12px;height: 12px;"></span>
                {% endif %}
            </div>

        {% endfor %}
        </div>
    {% else %}
        <p class="about-text">Этот раздел пока в разработке!</p>
    {% endif %}
{% endblock %}
