{% extends 'base.html' %}

{% block header %}<h1>Мои стишки</h1>{% endblock %}

{% block content %}
{#    <div class="content-about">#}
    {% if poets_list %}
        {% for poets in poets_list %}
            
            <div class="content-line position-relative">
                <h3 class="name">
                    <a href="#collapseExample" data-bs-toggle="collapse" role="button">{{ poets.name }}</a>
                </h3>
            
                <div class="card card-body collapse" id="collapseExample">
                    <div class="row h-100">
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-4">
                            <img class="img-fluid" src="{{ poets.image.image.url }}" alt="Фото">
                        </div>
                        <div class="offset-1 col d-flex flex-column">
                            <div class="flex-grow-1 fs-3">
                                {{ poets.content|safe }}<br>
                            </div>
                            <span class="date-published text-end">Дата публикации: {{ poets.date_published }}</span>
                        </div>
                    </div>
                </div>
            
                {% if poets.is_recent %}
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" style="width: 12px;height: 12px;"></span>
                {% endif %}
            </div>
            
        {% endfor %}
    {% else %}
        <p class="about-text">Этот раздел пока в разработке!</p>
    {% endif %}
{#    </div>#}
{% endblock %}
