{% extends 'base.html' %}
{% load static %}
{% block title %}{{ item.name }}{% endblock %}

{% block image %}
    <div class="block-last">
        <a class="last" href="{% url 'poets:index' %}"><-- Назад</a>
    </div>
    <img class="img-toys" src="{{ item.image.image.url }}" alt="">
{% endblock %}

{% block header %}
    <h1>{{ item.name }}</h1>
{% endblock %}

{% block content %}
    <p class="text-full">{{ item.text }}</p>
    <div class="d-flex justify-content-between">
        <span class="date-published">Дата публикации: {{ item.date_published }}</span>
    </div>
{% endblock %}
