{% extends 'base.html' %}
{% load static %}
{% block title %}{{ my_toys.name }}{% endblock %}

{% block image %}
    <div class="block-last">
        <a class="last" href="{% url 'my_toys:index' %}"><-- Назад</a>
    </div>
    <img class="img-toys" src="{{ my_toys.image.image.url }}" alt="">
{% endblock %}

{% block header %}
    <h1>{{ my_toys.name }}</h1>
{% endblock %}

{% block content %}
    <p class="text-full">{{ my_toys.text }}</p>
    <div class="d-flex justify-content-between">
        <span class="date-published">Дата публикации: {{ my_toys.date_published }}</span>
        
        <div class="like-container">
          <a href="" class="like" data-model-name="toys" data-object-id="{{ my_toys.id }}">
              <img src="{% static 'img/content/like.png' %}" alt="Лайк">
          </a>
          <span class="likes-count">{{ my_toys.like_set.count }}</span>
        </div>
    </div>
    
    {% include 'comments/comments.html' with comments=comments form=form %}
{% endblock %}


