{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<h2 class="fs-1 mb-3">Авторизация</h2>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username" class="fs-3">Имя пользователя:</label>
        <input type="text" name="username" class="form-control mb-3 w-25 fs-3" id="id_username" required>
    </div>

    <div class="form-group">
        <label for="id_password" class="fs-3">Пароль:</label>
        <input type="password" name="password" class="form-control w-25 fs-3" id="id_password" required>
    </div>
    
    <div class="pt-3">
        <a class="fs-3 text-decoration-none" href="{% url 'password_reset' %}">Сброс пароля</a>
    </div>

    <button type="submit" class="btn btn-primary fs-3 mt-4">Войти</button>
</form>
{% endblock %}