<div class="info-cloud">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-inner">
            {% for info in info_list %}
                <div  class="carousel-item {% if forloop.first %}active{% endif %}">
                    {{ info.text|safe }}
                </div>
            {% endfor %}
        </div>
        {% if info_list|length > 1 %}
        <a role="button" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </a>
        <a role="button" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </a>
        {% endif %}
       </div>
</div>
