{% csrf_token %}
{% if liked == None %}
    <p class="like-btn bg-black fs-4 text-center">Чтобы поставить лайк<br>войди или зарегистрируйся</p>
{% else %}
    <div class="d-flex align-items-center">
        <a href="#" 
            id="like-button-{{ item.id }}" 
            class="like-btn" 
            data-liked="{{ liked }}"
            data-content-type="{{ item_type }}"
            data-object-id="{{ item.id }}"
        >
            <i class="fas fa-thumbs-up"></i>
            <span id="like-count-{{ item.id }}" class="badge fs-4">{{ like_count }}</span>
        </a>
    </div>
{% endif %}