{% extends 'base.html' %}

{% block header %}<h1>Маленькие хитрости</h1>{% endblock %}

{% block content %}
    <div class="content-about">
    {% if lifehacks_list %}
        <div class="row">
            {% for lifehacks in lifehacks_list %}
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-6 mb-5 ">
                <div class="card">
                    <a href="{% url 'lifehacks:lifehack_detail' lifehacks.id %}">
                        <img src="{{ lifehacks.image.image.url }}" class="card-img-top" alt="{{ lifehacks.name }}">
                    </a>
                    <h3 class="card-title ps-2">{{ lifehacks.name }}</h3>
                </div>
                <div class="card-body bg-info ps-2 rounded-bottom-2">
                    <span class="card-subtitle">
                        {% if lifehacks.date_painting %}
                            Дата изготовления: {{ lifehacks.date_painting }}<br>
                        {% else %}
                            Дата изготовления: Неизвестно<br>
                        {% endif %}
                            Дата публикации: {{ lifehacks.date_published }}<br>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="about-text">Этот раздел пока в разработке!</p>
    {% endif %}
    </div>
{% endblock %}
