{% extends 'base.html' %}

{% block title %}{{ lifehacks.name }}{% endblock %}

{% block image %}
    <div class="block-last">
        <a class="last" href="{% url 'lifehacks:index' %}"><-- Назад</a>
    </div>
    <div class="row">
        <img class="img-drawing col-12 p-0" src="{{ lifehacks.image.image.url }}" alt="{{ lifehacks.name }}">
    </div>
{% endblock %}

{% block header %}
    <h1 class="text-center mt-5">{{ lifehacks.name }}</h1>
{% endblock %}

{% block content %}
    <p class="text-full">{{ lifehacks.text }}</p>
    {% if crafts.date_crafting %}
        <span class="card-subtitle d-block text-end">Дата изготовления: {{ lifehacks.date_lifehack }}</span>
    {% else %}
        <span class="card-subtitle d-block text-end">Дата изготовления: неизвестно</span>
    {% endif %}
    <span class="card-subtitle d-block text-end">Дата публикации: {{ lifehacks.date_published }}</span>
    
    {% include 'comments/comments.html' with comments=comments form=form %}
{% endblock %}


