/* Шрифты */
@font-face {
  font-family: 'Architun-Med';
  src: url('../fonts/ArchitunMedium.eot');
  src: url('../fonts/ArchitunMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/ArchitunMedium.woff2') format('woff2'), url('../fonts/ArchitunMedium.woff') format('woff'), url('../fonts/ArchitunMedium.ttf') format('truetype'), url('../fonts/ArchitunMedium.svg#ArchitunMedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Actay-Reg';
  src: url('../fonts/Actay-Regular.eot');
  src: url('../fonts/Actay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Actay-Regular.woff2') format('woff2'), url('../fonts/Actay-Regular.woff') format('woff'), url('../fonts/Actay-Regular.ttf') format('truetype'), url('../fonts/Actay-Regular.svg#Actay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Цвета */
/* Начальные настройки*/
html {
  font-size: 10px;
}
body {
  max-width: 1450px;
  margin: 0 auto;
}
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Navigation */
nav {
  font-size: 2rem;
}
.dropdown-menu {
    font-size: 2rem;
    border: none;
    background: none;
}
.dropdown-menu li {
    margin-bottom: 10px;
}
nav ul {
    list-style: none;
}
nav ul li {
    position: relative;
}
nav ul li ul {
    display: none; /* Скрываем подменю по умолчанию */
    position: absolute; /* Устанавливаем позицию подменю */
    top: 40px; /* Показываем подменю под родительским элементом */
    left: 0;
    z-index: 1000; /* Обеспечиваем, чтобы подменю было поверх других элементов */
}
nav ul li.active > ul {
    display: block; /* Показываем подменю, если родительский элемент активен */
}
nav ul ul li a {
  white-space: nowrap;
  /*line-height: 2;*/
  padding: 4px 10px;
}
nav a {
  border: 3px solid #5bdcdc;
  border-radius: 10px;
  background: #afeeee;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  /*line-height: 3.5;*/
  color: #000000;
}
a:hover {
  background: #afaa;
}
.logout {
    text-align: center;
}
.logout a, span{
    padding: 0;
    border: none;
    background: none;
    line-height: 1;
}
.login {
    text-align: center;
}
.login a {
    padding: 0;
    border: none;
    background: none;
    line-height: 1;
}
.logout span {
    background: #afeeee;
    border-radius: 3px;
    padding: 0 5px;
}
.logout a, .login a {
    text-transform: none;
    color: #0b5ed7;
}
.no-line {
    outline: none;
}


/* Main */
.main {
  background: url(../main/bg.jpg) center bottom no-repeat;
  background-size: cover;
}
img.main-age {
    margin-left: 25%;
    vertical-align: baseline;
}
.about-photo {
    height: 300px;
}
.header-content {
    font-family: 'Architun-Med', serif;
    font-size: 6rem;
}
.card-title {
    font-size: 3rem;
}
.card-subtitle {
    font-size: 1.5rem;
}
.card-body {
    padding-top: 5px;
    line-height: 2.2;
}
.content .about-text {
  font-size: 2.5rem;
  text-align: justify;
  font-family: 'Actay-Reg', serif;
}
footer {
  height: 350px;
  background: #1fbc23 url(../../img/footer/bg1.png) left no-repeat;
  background-size: cover;
}
footer p a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}


/* Content */
.content-line {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;
    font-family: 'Actay-Reg', serif;
}
.image-toys {
    height: 100%;
}
.image-toys img {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
    align-items: flex-start;
    margin-right: auto;
}
.content-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.name a {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Actay-Reg', serif;
}
.text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    max-height: 10rem;
    margin: 5px 0;
    color: #555;
    font-size: 1.7rem;
    flex-grow: 1;
    text-align: justify;
}
.text p {
    text-indent: 40px;
}
.date-published {
    font-size: 1.2rem;
    margin-top: auto;
}

/* Toy details */
.img-toys {
    border-radius: 5px;
    border: white solid 2px;
}

.img-drawing {
    border-radius: 5px;
    border: white solid 2px;
}

.text-full {
    font-family: 'Actay-Reg', serif;
    font-size: 2.7rem;
    color: #000;
    text-align: justify;
}
.text-full p{
    text-indent: 40px;
}
.block-last {
    display: block;
    padding-bottom: 10px;
}

.last {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    padding: 5px;
    border-radius: 5px;
}

/* Human */
.human {
    position: relative;
    height: 350px;
}

/* Cloud information */
.info-cloud {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    left: 35px;
    top: -80px;
    text-align: justify;
    border: 5px solid #84B4F3FF;
    background-color: #fff;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 5px 5px 20px #b6b6b6;
    -moz-box-shadow: 5px 5px 20px #b6b6b6;
    -webkit-box-shadow: 5px 5px 15px #393939;
    width: 400px;
    height: 250px;
}
.info-cloud:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 21px solid;
    border-color: #84B4F3FF #84B4F3FF transparent transparent;
    left: -45px;
    top: 53px;
}
.info-cloud:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 17px solid;
    border-color: #fff #fff transparent transparent;
    left: -33px;
    top: 57px;
}
.slide {
    height: 100%;
    padding: 0 45px;
}
.slide a:hover {
    background-color: transparent;
}
.carousel-inner {
    height: 100%;
}
.carousel-item,
.carousel-item.active {
    height: 100%;
    position: relative;
}
.carousel-item p,
.carousel-item.active p {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


/* Comments */
.comment {
    margin-top: 20px;
}
.comment ul {
    list-style: none;
}
.comment li {
    font-size: 1.7rem;
    background: white;
    margin: 10px;
    border-radius: 0 5px 5px 5px;
}
.comment-date {
    font-style: italic;
    font-size: 1rem;
    font-weight: normal;
}
.comment h3 {
    padding-top: 10px;
    border-top: 2px solid #0b5ed7;
}
.comment h2 {
    padding-top: 20px;
}
.comment-name {
    font-weight: bold;
    background: #b7e28c;
    padding: 5px;
    border-radius: 0 5px 0 0;
}
.comment-content {
    padding: 5px;
}
.form-name, .form-comment {
    width: 400px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    border-radius: 3px;
}
.form-comment {
    height: 100px;
}
.form-btn {
    font-size: 1.5rem;
}

/* Like */
.like-btn {
    background-color: #007bff; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    border-radius: 50px; /* Скругление углов */
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 16px; /* Размер шрифта */
    position: relative; /* Для анимации */
    overflow: hidden; /* Скрытие переполнения */
    text-decoration: none;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}
.like-active {
    background-color: #28a745; /* Цвет фона при активации */
}
.like-btn:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}
.like-active:hover {
    background-color: #0f5132; /* Цвет фона при наведении */
}
.like-btn i {
    transition: transform 0.3s ease; /* Плавный переход для иконки */
}
.like-active i {
    scale: 1.1;
    transform: scale(1.3); /* Увеличение иконки при активации */
}


@media (max-width: 992px) {
    .nav-mt {
        margin-top: 20px;
    }
}

/* Применяем медиа-запросы для экранов менее 768px */
@media (max-width: 768px) {
    html {
        /*font-size: 7px;*/
    }
    .logo {
        display: none;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-bottom: 25px;
    }
    .login, .logout {
        margin-right: auto;
    }
    .main-age {
        padding: 0;
    }
    .about-photo {
        display: none;
    }
    .name {
        margin-top: 10px;
    }
    .info-cloud {
        display: none;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 7px;
    }
    .container {
        padding: 0 20px;
    }
    .accord-img {
        display: none;
    }
    .form-name, .form-comment {
        width: 100%;
    }
}

@media (max-width: 305px) {
    .like-poet {
        flex-direction: column;
    }
    .like-b {
        width: 85px;
    }
}