/* Шрифты */
@font-face {
  font-family: 'Architun-Med';
  src: url('../fonts/ArchitunMedium.eot');
  src: url('../fonts/ArchitunMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/ArchitunMedium.woff2') format('woff2'), url('../fonts/ArchitunMedium.woff') format('woff'), url('../fonts/ArchitunMedium.ttf') format('truetype'), url('../fonts/ArchitunMedium.svg#ArchitunMedium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Actay-Reg';
  src: url('../fonts/Actay-Regular.eot');
  src: url('../fonts/Actay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Actay-Regular.woff2') format('woff2'), url('../fonts/Actay-Regular.woff') format('woff'), url('../fonts/Actay-Regular.ttf') format('truetype'), url('../fonts/Actay-Regular.svg#Actay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Цвета */
/* Начальные настройки*/
html {
  font-size: 10px;
}
body {
  max-width: 1450px;
  margin: 0 auto;
}
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}
nav {
  font-size: 2rem;
}
nav ul {
  list-style: none;
  position: relative;
}
nav ul li {
  /*display: inline-block;*/
}
nav ul li a {
    display: inline-block;
}
nav ul li:hover > ul {
  z-index: 10;
}
nav ul li:hover > ul li {
  opacity: 100%;
}
nav ul li:hover > ul li:nth-child(1) {
  top: 0;
}
nav ul li:hover > ul li:nth-child(2) {
  top: 40px;
}
nav ul li:hover > ul li:nth-child(3) {
  top: 80px;
}
nav ul li:hover > ul li:nth-child(4) {
  top: 120px;
}
nav ul li:hover > ul li:nth-child(5) {
  top: 160px;
}
nav ul ul li {
  position: absolute;
  top: -50px;
  left: 0;
  opacity: 0;
  -webkit-transition: top 0.3s cubic-bezier(0.44, 1.61, 0.75, 0.84) 0.2s, opacity 0.2s linear 0.2s;
  transition: top 0.3s cubic-bezier(0.44, 1.61, 0.75, 0.84) 0.2s, opacity 0.2s linear 0.2s;
}
nav ul ul li a {
  white-space: nowrap;
  /*line-height: 2;*/
  padding: 4px 10px;
}
nav a {
  border: 3px solid #5bdcdc;
  border-radius: 10px;
  background: #afeeee;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  /*line-height: 3.5;*/
  color: #000000;
}
a:hover {
  background: #afaa;
}
.logout {
    text-align: center;
}
.logout a, span{
    padding: 0;
    border: none;
    background: none;
    line-height: 1;
}
.login {
    text-align: center;
}
.login a {
    padding: 0;
    border: none;
    background: none;
    line-height: 1;
}
.logout span {
    background: #afeeee;
    border-radius: 3px;
    padding: 0 5px;
}
.logout a, .login a {
    text-transform: none;
    color: #0b5ed7;
}
.no-line {
    outline: none;
}



/* Main */
.main {
  background: url(../img/main/bg.jpg) center bottom no-repeat;
  background-size: cover;
}
.main-header {
  padding: 50px 0;
}
.main-logo {
  display: inline-block;
}
.main-age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main-age img {
  height: 100%;
}
.content {
  padding: 1px 0;
  background-color: #1fbc23;
  min-height: 400px;
}
.content h1 {
  /*font-size: 5rem;*/
  text-transform: uppercase;
  padding-bottom: 30px;
  font-family: 'Architun-Med', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  line-height: 0.8;
}
.content .about-text {
  font-size: 2.5rem;
  text-align: justify;
  font-family: 'Actay-Reg', serif;
}
.content .img-thumbnail, .content .img-toys {
  height: 30rem;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}
footer {
  position: relative;
  height: 350px;
  background: #1fbc23 url(../img/footer/bg1.png) center no-repeat;
  background-size: cover;
}
footer p {
  position: absolute;
  bottom: 50px;
  right: 80px;
  font-size: 2rem;
}
footer p a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.container {
    min-width: 728px;
}

/* My Toys */
.content-line {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'Actay-Reg', serif;
}

.image-toys {
    height: 100%;
}

.image-toys img {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
    align-items: flex-start;
    margin-right: auto;
}

.content-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.name a {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Actay-Reg', serif;
}

.text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    max-height: 10rem;
    margin: 5px 0;
    color: #555;
    font-size: 1.7rem;
    flex-grow: 1;
    text-align: justify;
}

.date-published {
    font-size: 1.2rem;
    color: #888;
    margin-top: auto;
}

/* Toy details */
.img-toys {
    border-radius: 5px;
    border: white solid 2px;
}

.img-drawing {
    border-radius: 5px;
    border: white solid 2px;
}

.text-full {
    font-family: 'Actay-Reg', serif;
    font-size: 2.7rem;
    color: #000;
    text-align: justify;
}

.block-last {
    display: block;
    padding-bottom: 10px;
}

.last {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    padding: 5px;
    border-radius: 5px;
}

/* Comments */
.comment {
    margin-top: 20px;
}

.comment ul {
    list-style: none;
}

.comment li {
    font-size: 1.7rem;
    background: white;
    margin: 10px;
    border-radius: 0 5px 5px 5px;
}

.comment-date {
    font-style: italic;
    font-size: 1rem;
    font-weight: normal;
}

.comment h3 {
    padding-top: 10px;
    border-top: 2px solid #0b5ed7;
}

.comment h2 {
    padding-top: 20px;
}

.comment-name {
    font-weight: bold;
    background: #b7e28c;
    padding: 5px;
    border-radius: 0 5px 0 0;
}

.comment-content {
    padding: 5px;
}

.form-name, .form-comment {
    width: 500px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    border-radius: 3px;
}

.form-comment {
    height: 100px;
}

.form-btn {
    font-size: 1.5rem;
}

/* Like */
.like-btn {
    background-color: #007bff; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    border-radius: 50px; /* Скругление углов */
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 16px; /* Размер шрифта */
    position: relative; /* Для анимации */
    overflow: hidden; /* Скрытие переполнения */
    text-decoration: none;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}
.like-active {
    background-color: #28a745; /* Цвет фона при активации */
}
.like-btn:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}
.like-active:hover {
    background-color: #0f5132; /* Цвет фона при наведении */
}
.like-btn i {
    transition: transform 0.3s ease; /* Плавный переход для иконки */
}
.like-active i {
    scale: 1.1;
    transform: scale(1.3); /* Увеличение иконки при активации */
}


@media (max-width: 991.5px) {
    nav {
        margin-top: 15px;
    }
}
