{% extends 'base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block image %}
    <div class="block-last">
        <a class="last" href="{% url 'crafts:index' %}"><-- Назад</a>
    </div>
    <div class="row">
        <img class="img-drawing col-12 p-0" src="{{ item.image.image.url }}" alt="{{ item.name }}">
    </div>
{% endblock %}

{% block header %}
    <h1 class="text-center mt-5">{{ item.name }}</h1>
{% endblock %}

{% block content %}
    <div class="text-full">{{ item.content|safe }}</div>
    {% if item.date_crafting %}
        <span class="card-subtitle d-block text-end">Дата изготовления: {{ item.date_crafting }}</span>
    {% else %}
        <span class="card-subtitle d-block text-end">Дата изготовления: неизвестно</span>
    {% endif %}
    <span class="card-subtitle d-block text-end">Дата публикации: {{ item.date_published }}</span>
    
    {% include 'comments/comments.html' with comments=comments form=form %}
{% endblock %}


