{% extends 'base.html' %}

{% block header %}<h1 class="header-content">Музей поделок</h1>{% endblock %}

{% block content %}
    <div class="content-about">
    {% if item_list %}
        <div class="row">
            {% for item in item_list %}
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 mb-5">
                <div class="card">
                    <a href="{% url 'crafts:craft_detail' item.id %}">
                        <img src="{{ item.image.image.url }}" class="card-img-top" alt="{{ item.name }}">
                        {% if item.is_recent %}
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                        {% endif %}
                    </a>
                    <h3 class="card-title ps-2">{{ item.name }}</h3>
                </div>
                <div class="card-body bg-info ps-2 rounded-bottom-2">
                    <span class="card-subtitle">
                        {% if item.date_crafting %}
                            Дата изготовления: {{ item.date_crafting }}<br>
                        {% else %}
                            Дата изготовления: Неизвестно<br>
                        {% endif %}
                            Дата публикации: {{ item.date_published }}<br>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="fs-2">Этот раздел пока в разработке!</p>
    {% endif %}
    </div>
{% endblock %}
