{% extends 'base.html' %}
{% load static %}

{% block title %}{{ item.name }}{% endblock %}

{% block image %}
    <div class="block-last">
        <a class="last" href="{% url 'drawings:index' %}"><-- Назад</a>
    </div>
    <div class="row">
{#        <img class="img-drawing col-12 p-0" src="{{ item.image.image.url }}" alt="{{ item.name }}">#}
        <img class="img-drawing col-12 p-0" src="{{ watermarked_image }}" alt="{{ item.name }}">
    </div>
{% endblock %}

{% block header %}
    <h1 class="text-center mt-5">{{ item.name }}</h1>
{% endblock %}

{% block content %}
    <div class="text-full">{{ item.content|safe }}</div>
    <div class="d-flex justify-content-between">
        <div class="pt-5">
            {% if item.date_crafting %}
                <span class="card-subtitle d-block text-start">Дата рисования: {{ item.date_painting }}</span>
            {% else %}
                <span class="card-subtitle d-block text-start">Дата рисования: неизвестно</span>
            {% endif %}
            <span class="card-subtitle d-block text-start">Дата публикации: {{ item.date_published }}</span>
        </div>
        
        {% include 'likes/likes.html' with liked=liked item=item like_count=like_count %}
    </div>
    {% include 'comments/comments.html' with comments=comments form=form %}
{% endblock %}


