{% extends 'base.html' %}

{% block header %}<h1 class="header-content">Я активная!</h1>{% endblock %}

{% block content %}
    <div class="content-about">
    {% if item_list %}
        {% for item in item_list %}
            <div class="content-line row position-relative">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-0">
                    {% if item.image.image.url %}
                        <a href="activities/{{ item.id }}/"><img class="w-100" src="{{ item.image.image.url }}" alt="Фото"></a>
                    {% else %}
                        <p class="d-flex justify-content-center align-items-center h-100">Фото отсутствует</p>
                    {% endif %}
                </div>
                <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-12 content-details">
                    <h3 class="name">
                        <a href="activities/{{ item.id }}/">{{ item.name }}</a>
                    </h3>
                    <div class="flex-grow-1 fs-3" style="font-family: 'Actay-Reg', serif">{{ item.content|safe }}</div>
                    <span class="date-published text-end">Дата публикации: {{ item.date_published }}</span>
                </div>
                {% if item.is_recent %}
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" style="width: 12px;height: 12px;"></span>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p class="fs-2">Этот раздел пока в разработке!</p>
    {% endif %}
    </div>
{% endblock %}
