<div class="comment mt-5">
    <h2>Комментарии</h2>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.name }}:</strong> {{ comment.content }}
                <span class="date"> ({{ comment.created_at }})</span>
            </li>
        {% empty %}
            <li>Нет комментариев.</li>
        {% endfor %}
    </ul>
    
    <h3>Добавить комментарий</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.name }}<br>
        {{ form.content }}<br>
        <button type="submit" class="form-btn btn btn-primary">Отправить</button>
    </form>
</div>