<div class="comment mt-5">
    <h3>Добавить комментарий</h3>
    <form method="post">
        {% csrf_token %}
        {% if is_authenticated %}
            <p class="fs-3">Имя: <span class="fw-bold">{{ request.user.username }}</span></p>
        {% else %}
            {{ form.name }}<br>
        {% endif %}
        {{ form.content }}<br>
        <button type="submit" class="form-btn btn btn-primary">Отправить</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h2>Комментарии</h2>
    <ul>
        {% for comment in comments %}
            <li>
                <p class="comment-name">{{ comment.name }} <span class="comment-date"> ({{ comment.created_at }})</span></p>
                <p class="comment-content">{{ comment.content }}</p>
            </li>
        {% empty %}
            <li>Нет комментариев.</li>
        {% endfor %}
    </ul>
</div>