{% extends 'base.html' %}

{% block header %}<h1>Мои любимые игрушки</h1>{% endblock %}

{% block content %}
    <div class="content-about">
    {% if item_list %}
        {% for item in item_list %}
            <div class="content-line row position-relative">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-4 image-toys">
                    <a href="toys/{{ item.id }}/"><img src="{{ item.image.image.url }}" alt="Фото"></a>
                </div>
                <div class="col-xxl-9 col-xl-9 col-lg-9 col-8 content-details">
                    <h3 class="name">
                        <a class="p-1 border" href="toys/{{ item.id }}/">{{ item.name }}</a>
                    </h3>
                    <p class="text">{{ item.content }}</p>
                    <span class="date-published text-end">Дата публикации: {{ item.date_published }}</span>
                </div>
                {% if my_toys.is_recent %}
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" style="width: 12px;height: 12px;"></span>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p class="about-text">Этот раздел пока в разработке!</p>
    {% endif %}
    </div>
{% endblock %}
