{% extends 'base.html' %}
{% load static %}
{% block title %}{{ item.name }}{% endblock %}

{% block image %}
    <div class="block-last">
        <a class="last" href="{% url 'my_toys:index' %}"><-- Назад</a>
    </div>
    {% if item.image.image.url %}
        <img class="img-toys w-100" src="{{ item.image.image.url }}" alt="">
    {% endif %}
{% endblock %}

{% block header %}
    <h1 class="header-content mt-3">{{ item.name }}</h1>
{% endblock %}

{% block content %}
    <div class="text-full">{{ item.content|safe }}</div>
    <div class="d-flex justify-content-between">
        <span class="date-published">Дата публикации: {{ item.date_published }}</span>
        
        {% include 'likes/likes.html' with liked=liked item=item item_type=item_type like_count=like_count %}
    </div>
    
    {% include 'comments/comments.html' with comments=comments form=form %}
{% endblock %}


